

    // Light Mode
    $color0-light: #57606A; //Font color & icons
    $color1-light: #fff ;  // NAV-BAR 
    $color2-light: #f5f7fa;    // Search-BAR 
    $color3-light: #606060;    // ICONS 
    $color4-light: #ffffff;    //Page body
    $color5-light: #F2F2F2;   // Table header 
    $color6-light: #F2F2F2;   // footer 
    $color7-light: #F2F2F2;   // Table odd row
    $color8-light: #F2F2F2; // Table even row
    $color9-light: #FFFFFF;  // Table body 
    $border-light-color: rgb(226 232 240 / 80%) ;

    // btns background
    $color10: #FF0624; //Delete button
    $color11: #FF8D06; //Zip button
    $color12: #5606FF; //Copy button
    // Footer btns
    $color13: #9C0000; //Total size
    $color14: #D3A500; //Total size
    $color15: #00750C; //Total size
    $color16: #0093D2; //Total size
    $color17: #7D01CA; //Total size


// Dark mode

    $color0-dark: #fff;        //Font color & icons
    $color1-dark: #161B22 ;    // NAV-BAR 
    $color2-dark: #0D1117;     // Search-BAR 
    $color3-dark: #0D1117;     // ICONS 
    $color4-dark: #0D1117;     //Page body
    $color5-dark: #1F2630;     // Table header
    $color6-dark: #1F2630;     // footer 
    $color7-dark: #1F2630;     // Table odd row
    $color8-dark: #273242;     // Table even row
    $color9-dark: #161B22;     // Table body 
    $border-dark-color: rgba(31, 41, 55, 1);
