@import "./colors";
@import "./fonts";
@import "./utils";
@import "./custom";

body{
    font-family: $Roboto;
    background: $color4-light;
    transition: 0.2s ease-in-out;
    color:$color0-light ;
    @include darkTheme($body: true);
    font-weight: normal;
  
}
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    background: $color4-light;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color0-light;
    @include darkTheme($loader: true);
    .loader {
        font-family: $FiraCode;
        font-weight: bold;
        font-size: 10vh;
        span {
            display: inline-block;
            -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
                    animation: pulse 0.4s alternate infinite ease-in-out;
    
                    &:nth-child(odd) {
                        -webkit-animation-delay: 0.4s;
                                animation-delay: 0.4s;
                      }
          }
      }
    
}

  @-webkit-keyframes pulse {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }
  @keyframes pulse {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }
  
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.065);
    width: 100%;
    background: $color1-light;
    border-bottom: 1px solid $border-light-color;
    nav {
        padding: 0 80px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            width: 200px;
            height: 80px;
            fill: $color0-light;
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            grid-gap: 20px;
            .search-bar {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                .search-input {
                    min-width: 400px;
                    padding: 12px 40px;
                    background: $color2-light;
                    border: none;
                    outline: none;
                    font-family: $Roboto;
                    font-size: 14px;
                    color: $color0-light;
                    border-radius: 50px;
                    border: 1px solid $border-light-color;
                    transition: all .15s ease-in-out;
                    &::placeholder {
                        color: #cecece;
                    }
                   &:focus {
                    border-color:  $color0-light !important;
                   }
                   
                }
                span {
                    i {
                        color: lighten($color0-light, 35%);
                        position: absolute;
                        left: 10px; 
                        top: 50% ;
                        transition: all  0.15s ease-in-out;
                        width: 14px;
                        // height: 14px;
                        cursor: pointer;
                        transform: translateY(-50%);
                    }
                   
                }
                .search-btn {
                    i {
                        left: calc(100% - 12px * 2);
                    }
               }
            }
            .nav-actions {
                display: flex;
                align-items: center;
                grid-gap: 10px;
                button {
                    
                    font-size: 18px; 
                    color: $color0-light;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background: $color2-light;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    // border: 1px solid $border-light-color;
                    transform: all .2s ease-in-out;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    // &:hover {
                    //     border-color: $color4-light;
                    // }
                    
                    // &:active {
                    //     .ripple {
                    //         bottom: 0;
                    //         right: 0;
                    //     }
                    // }

                    &:hover {
                        background:darken( $color2-light , 2.5%);
                    }
                }
                }
        }
    }

    @include darkTheme($header: true);
}
main {
    width: 80%;
    margin: 150px auto;
     .row-1 { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        label {
            color: $color0-light;
            font-weight: normal;
            display: flex;
            align-items: center;
            select {
                margin: 0 10px;
            }
        }
        .file-actions { 
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
                color: $color0-dark;
                padding: 10px 15px ;
                font-size: 1rem;
                border: none;
                outline: none;
                border-radius: 5px;
                margin-left: 10px;
                border: 1px solid transparent;
                cursor: pointer;
                transition: 0.15s ease-in-out;
                i {
                    margin-right: 10px;
                }
                &:nth-child(1) {
                    background: $color10;
                    &:hover {
                        // background: darken($color10,5%);
                        background: transparent;
                        color: $color10;
                        border: 1px solid $color10;
                    }
                }
                &:nth-child(2) {
                    background: $color11;
                    &:hover {
                        // background: darken($color10,5%);
                        background: transparent;
                        color: $color11;
                        border: 1px solid $color11;
                    }

                }
                &:nth-child(3) {
                    background: $color12;
                    &:hover {
                        // background: darken($color10,5%);
                        background: transparent;
                        color: $color12;
                        border: 1px solid $color12;
                    }
                }

            }
        }
     }
     .table-sites {
        margin-top: 20px;
        border: 1px solid $border-light-color; 
        border-radius: 5px;
        table {
            font-family: $Roboto;
            font-size: 15px;
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: transparent;
            padding: 0;
            box-sizing: border-box;
            border-collapse: collapse;
            background: $color9-light;
            border-radius: 5px;
            overflow: hidden;
            width: 100%;
            margin: 0 auto;
            position: relative;
            thead {
                border-bottom: 1px solid $border-light-color; 
                tr {
                    border-left: 20px solid $color5-light;
                    border-right: 20px solid $color5-light;
                    border-bottom: 20px solid $color9-light;
                    -webkit-text-size-adjust: 100%;
                    -webkit-tap-highlight-color: transparent;
                    border-collapse: collapse;
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    position: relative;
                    height: 60px;
                    background:  $color5-light;
                    
                    th {
                        -webkit-text-size-adjust: 100%;
                        -webkit-tap-highlight-color: transparent;
                        border: none;
                        border-collapse: collapse;
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        position: relative;
                        text-align: left;
                        // width: 260px;
                        padding-left: 18px;
                       
                        &::before {
                            content: "\f077" !important;
                            transform: translateY(-10px);
                            font-size: 10px !important;
                            right: 10px ;
                            top: 50%;
                        }
                        &::after {
                            content: "\f078" !important;
                            font-size: 10px  !important;
                            right: 10px !important;
                            top: 50%;

                        }
                        //sorting 
                        &:nth-child(1){
                            &::after , &::before  {display: none;}
                        }
                        &:nth-child(6){
                            &::after , &::before  {display: none;}
                        }
                        &:nth-child(7){
                            &::after , &::before  {display: none;}
                        }

                    }
                  
                }
            }
            tbody {
                tr {
                    
                    border-bottom: 10px solid $color9-light;
                    border-right: 20px solid $color9-light;
                    border-left: 20px solid $color9-light;
                  
                    -webkit-text-size-adjust: 100%;
                    -webkit-tap-highlight-color: transparent;
                    border-collapse: collapse;
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    position: relative;
                    height: 50px;
                    line-height: 50px;
                    // display: flex;
                    // align-items: center;
                    background-color: #f5f5f5;
                    &:nth-child(even) {
                        background-color: #f5f5f5;
                        &:hover {
                            background-color: darken(#f5f5f5, 5%);
                            cursor: pointer;
                           }
                    }
                    &:hover {
                        background-color: darken(#f5f5f5, 5%);
                        cursor: pointer;
                    }
                    td {
                        -webkit-text-size-adjust: 100%;
                        -webkit-tap-highlight-color: transparent;
                        border-collapse: collapse;
                        color: gray;
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        position: relative;
                        text-align: left;
                        // width: 260px;
                        padding-left:18px;
                        
                        svg {
                            width: 25px;
                            height: 25px;
                            margin-right: 20px ;
                        }
                        &.column1 {
                            width: 10px;
                           .custom-control {
                            display: flex;
                           }
                        }
                        &.column2 {
                            display: flex;
                            align-items: center;
                        }
                        &.column6 {
                            button {
                                cursor: pointer;
                                padding: 0 8px;
                                background: none;
                                border: none;
                                outline: none;
                                font-size: 1rem;
                                color: $color0-light;
                                a {
                                    color: $color0-light;

                                }
                                &.download {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                }
            }
            tfoot {
                border-top: 20px solid $color1-light;
                width: 100%;
                background:  $color5-light;
                tr {
                    border-left: 20px solid $color5-light;
                    border-right: 20px solid $color5-light;
                    height: 60px;

                    td {
                        padding-left: 18px;
                        small {
                            min-height: 12px;
                            display: inline-flex;
                            align-items: center;
                            justify-content: space-between;
                            svg {
                                margin-left: 4px;
                            }
                            color:  $color1-light;
                            border-radius: 50px;
                            padding: 2px 6px;
                           
                            &.totalSize{
                                background: $color13;
                            }  
                            &.filesNumber{
                                background: $color14;
                            }  
                            &.foldersNumber{
                                background: $color15;
                            }  
                            &.partitioSize{
                                background: $color16;
                            }  
                            &.freeSpace{
                                background: $color17;
                            }  
                        }
                        ul {
                            &.pagination {
                                margin-bottom: 0 ;
                                display: flex ;
                                justify-content: flex-end ;
                            }
                        }
                    }

                }
            }
           
        }
     }
     .row-2 {
        margin-top: 20px;
        .file-actions { 
            display: flex;
            // justify-content: space-between;
            align-items: center;
            button {
                color: $color0-dark;
                padding: 10px 15px ;
                font-size: 1rem;
                border: none;
                outline: none;
                border-radius: 5px;
                margin-right: 10px;
                border: 1px solid transparent;
                cursor: pointer;
                transition: 0.15s ease-in-out;
                i {
                    margin-right: 10px;
                }
                &:nth-child(1) {
                    background: $color10;
                    &:hover {
                        // background: darken($color10,5%);
                        background: transparent;
                        color: $color10;
                        border: 1px solid $color10;
                    }
                }
                &:nth-child(2) {
                    background: $color11;
                    &:hover {
                        // background: darken($color10,5%);
                        background: transparent;
                        color: $color11;
                        border: 1px solid $color11;
                    }

                }
                &:nth-child(3) {
                    background: $color12;
                    &:hover {
                        // background: darken($color10,5%);
                        background: transparent;
                        color: $color12;
                        border: 1px solid $color12;
                    }
                }

            }
        }
     }
     @include darkTheme($main: true);
}
// upload box 
.uploadBoxWrapper {
    display: grid;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 80px);
    z-index: 9999999;
    transition: left 0.4s ease-in-out;
    &.grid{
         display: grid;
        //  place-items: center;
    }
    &.active{
        left: 0;
        .overlay {
            display: block;
        }
    }

    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #00000038;
        opacity: 0.5;
        display: none;
        transition: 0.4s ease-in-out;
    }
    .drop {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        
        position: relative;
        width: 20em;
        // height: 600px;
        // max-width: 20em;
        // overflow-y: scroll;
        // border: 2px dashed #DADFE3;
        // border-radius: 10px;
        text-align: center;
        background-color: white;
        overflow-x: hidden;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        transition: all 0.15s ease-out;
        // margin: auto;
        overflow-y: scroll;
        // box-shadow: 0 0 6px #ccc;
        
        .cont {
            padding: 0 20px;
            color: $color0-light;
            -webkit-transition: all 0.15s ease-out;
            -moz-transition: all 0.15s ease-out;
            transition: all 0.15s ease-out;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            h2 {
                margin: 0;
                font-size: 1.5rem;
            }
        i {
            font-size: 3rem;
            transition: transform 0.4s ease-in-out;
            background: rgba(78, 78, 78, 0.279);
            // background: linear-gradient(45deg, rgba(86,6,255,1) 35%, rgb(130, 80, 238) 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
        
        }
        .tit {
            margin: 20px 0;
            font-size: 1.2rem;
            text-transform: uppercase;
            color: rgba(78, 78, 78, 0.279)
          }
          .desc {
            font-size: 2rem;
            color: rgba(78, 78, 78, 0.279)
          }

          .browse {
            margin: 20px auto;
            color: rgba(78, 78, 78, 0.4);
            padding: 15px 16px;
            border-radius: 5px;
            // background: rgba(78, 78, 78, 0.279);
            // background: linear-gradient(90deg, rgba(86,6,255,1) 35%, rgba(125,64,255,1) 100%);
            width: fit-content;

            &:hover {
                background: $color12
               }
          }
          &.full {
            
            .tit, h2{
                // color: #ccc;
                opacity: 0.2;
            }
            i {
                background: none;
                -webkit-text-fill-color: inherit;
                // color: #ccc;
                opacity: 0.2;
                
            }
            .browse {
                opacity: 0.2;
                background: rgb(81, 81, 81);
            }
          }
        }
  
        border-right: 1px solid  $border-light-color;
        &::-webkit-scrollbar {
            width: 0px;
          }
          &::-webkit-scrollbar-track {
            background: #e4e4e4;
            border-radius: 8px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $color2-dark;
            border-radius: 10px;
            border: 2px solid rgb(219, 219, 219);
          }
      }
      @include darkTheme($upload: true);
  }
  
  .paginate_button_disabled {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    color: #999 !important;
    background-color: #ff0000;
    }

    .pagination .page-item .page-link:hover {
        background: #673ab7;
        color: #fff;
    }

// FilePond Custom Styles

 .filepond--drop-label {
	color: #4c4e53;
    
}

.filepond--label-action {
	text-decoration-color: #babdc0;
}

.filepond--panel-root {
	// border-radius: 2em;
	background-color: transparent;
	height: 1em;
    visibility: hidden;
    opacity: 0;
}

.filepond--item-panel {
	background-color: #595e68;
}

.filepond--drip-blob {
	background-color: #7f8a9a;
}
a.filepond--credits {
    display: none;
}

input.filepond--browser {
    height: 100vh;
    width: 100%;
    // pointer-events: all;
}
.filepond--hopper[data-hopper-state=drag-over]>* {
    pointer-events: all !important;
}

// add element modal
.addElementModal{
        z-index: 99999;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: none;
        justify-content: center;
        align-items: center;
        .addElemModalOverlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.282);
        }
        .addElementModalBox {
            position: relative;
            z-index: 9999999;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $color4-light;
            padding: 30px 50px;
            border-radius: 5px;
            min-width: 500px;
            .addElementModalHeader {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3 {
                    // text-transform: uppercase;
                }
                i {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    // color: $color10;
                    transition: 0.15s ease-in-out;
                    cursor: pointer;
                    &:hover {
                          color: $color10
                    }
                }
            }
            .addElementModalBody {
                margin-top: 40px;
                .fileType {
                    margin-bottom: 30px;
                    display: flex;
                    label {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        margin: 0;
                        margin-left: 10px;
                        
                        i {
                            margin-right: 5px;
                            margin-left: 10px;
                           
                        }
                        input {
                            margin-left: 10px;
                            display: none;
                           
                        }
                        .checked {
                            color: $color12;
                        }
                    }
                    .radioBtn {
                        
                        width: 15px;
                        height: 15px;
                        background: transparent;
                        border: 2px solid  currentColor;    
                        border-radius: 50px;
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        padding: 2px;
                        span {
                            width: 100%;
                            height: 100%;
                            border-radius: 50px;
                            background: transparent;
                            display: inline-block;
                        }
                     
                    }
                    input[type="radio"]:checked +  .radioBtn span{
                        background: $color12;    
                      
                        // border: 2px solid transparent;
                    }
                    input[type="radio"]:checked +  samp{
                        color: $color12;    
                        // border: 2px solid transparent;
                    }
                }
                #inputEelemName {
                    width: 100%;
                    padding: 10px 10px;
                    border-radius: 5px;
                    outline: none;
                    border: none;
                    border: 1px solid $border-light-color;
                    transition: 0.15s ease-in-out;
                    margin-bottom: 0;
                    &:focus {
                        border-color:  $color0-light !important;
                       }
                       margin-bottom: 0;
                }
                .input-p {
                    margin-bottom: 4px;
                }
                .fileNameValidation {
                    color: $color10;
                   
                }
            }
            .addElementModalFooter {
                margin-top: 40px;
                display: flex;
                button {
                    color:  $color1-light;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    padding: 10px 20PX ;
                    border: 1px solid transparent;
                    transition: 0.15s ease-in-out;
                    &:last-child{
                        margin-left: 10px;
                    }
                    i {
                        margin-right: 10px;
                        
                    }
                    &:first-child {
                        background: $color10;
                        &:hover {
                            background: transparent;
                            border: 1px solid $color10;
                            color: $color10;
                        }
                    }
                    &:last-child {
                        background: $color15;
                        &:hover {
                            background: transparent;
                            border: 1px solid $color15;
                            color: $color15;
                        }
                    }
                }
            }
        }
        @include darkTheme($addElemenModal: true);
}


// footer
footer {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
        font-family: $FiraCode;
        // font-style: italic;
        font-size: 1.2rem;
        color: $color0-light;
        opacity: 0.8;
    }
}




